body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}    


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
    
}
.sticky-line {
    background-color: #001f5c;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.main-phrase-text {
text-align: center;
}
    
.main-phrase-text span {
    color: aquamarine;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    animation: runText 30s linear infinite;
    display:inline-block;
    width: 70%;
    text-indent: 0;
}

@keyframes runText {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
    }    
    100% {
        transform: translateX(100%);
    }
}

.main-header {
    display: flex;   
    width: 100%; 
    max-width: 1200px;    
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    height: 60px;
    margin-top: 0;
 }

.main-menu {
    display: flex;
    margin-top: 10px;
    margin-right: 30px;
    height: 30px;
    
}
.menu-link {
    display:block;    
    color: #0800f2;
    font-size: 25px;
   /* line-height: 25px;*/ 
    margin-right: 30px;
    margin-left: 0px;
    text-decoration: none;
}

.menu-link:last-child {
    margin-right: 0;
}

.menu-link:hover {
    color: red;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(0, 26, 102);
}

.form-sign-in .filter-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 6px #bec9ff;    
    background-color: rgb(30, 110, 231);
}

.form-sign-in .filter-btn:hover {
    background-color: rgb(13, 0, 255);
}
.form-sign-in .filter-btn:active {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 5px 6px #0c56f7;
    transform: translateY(4px);
}

.main {
    width: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.phone {
    background: linear-gradient(63.04deg, #001f5c, #0c7b93);
    display: flex;
    flex-flow: wrap;
    max-width: 1200px;
    height: 832px;
    margin: 20px auto 40px; /* Center the container horizontally */
    position: relative;
    z-index: -2;
    overflow: hidden;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.img_style {
    height: 630px;
    transform: rotate(3deg);  
    position: relative;
    left: 600px;
    top: 220px;
    z-index: 0;
    overflow: hidden;
}

.main-title {
    position: absolute ;
    top: 50px;
    left: 60px;
    /* border-radius: 240px 240px 240px 240px; 
    background: radial-gradient(50% 50% at 50% 50%, #f84600, #ffffff24); 
    transform: rotate(-45deg);*/
    width: 1000px;
    height: auto;
   font-size: 70px;
   z-index: 1;
}

.main-title1 {
    position: absolute;
    top: 250px;
    left: 60px;
    /* border-radius: 240px 240px 240px 240px; 
    background: radial-gradient(50% 50% at 50% 50%, #f84600, #ffffff24); 
    background: #f84600;
    color: #fff;
    transform: rotate(-45deg);*/
    color: #f84600;
    width: 500px;
    height: auto;
    z-index: 2;
    font-size: 35px;
}


.phone-child {
    position: absolute;
    top: 200px;
    left: 330px;
    border-radius: 50px 50px 50px;
    background: radial-gradient(30% 50% at 100% 30%, rgba(0, 255, 136, 0.622), rgba(0, 1, 1, 0));
    width: 659px;
    height: 659px;
    transform: rotate(3deg);
    z-index: -1;
    overflow: hidden;
}

.phone-inner {
    position: absolute;
    top: 356px;
    left: 0px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(110, 20, 246), rgba(255, 82, 109, 0));
    width: 659px;
    height: 659px;
    transform: rotate(3.96deg);
    z-index: -1;
    overflow: hidden; 
}
.phone-item {
    position: absolute;
    top: 350px;
    left: 850px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 234, 0.462), rgba(255, 0, 81, 0));
    width: 660px;
    height: 660px;
    transform: rotate(4deg);
    z-index: -1;
}


.form-try-it .filter-btn {
    position: absolute;    
    top: 500px;
    left: 300px;
    padding: 15px 25px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 6px #bec9ff;    
    background-color: rgb(30, 110, 231);
    z-index: 3;
}

.form-try-it .filter-btn:hover {
    position: absolute;    
    background-color: rgb(13, 0, 255);
    z-index: 3;
    
}
.form-try-it .filter-btn:active {
    position: absolute;    
    z-index: 3;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 5px 6px #0c56f7;
    transform: translateY(4px);
  }

.trusted {
    width: 100%; 
    max-width: 1200px;    
    height: 100%;
    margin: 20px auto 20px;
    }
    
.main-title3 {
    color: #f84600;
    width: 1200px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    }

.trusted-content {
    display: flex;   
    justify-content: space-between;
    width: 1200px;
    margin: 60px auto 60px;
    height: 100px;
}


.img_style1 {
    height: auto;
}


.purpose {
    width: 100%;
    max-width: 1200px;
    min-height: 1080px;
    padding: 30px;
    margin: 20px auto 20px;
    justify-content: center;   
    background-color: rgba(51, 139, 255, 0.124);
    overflow: hidden;
    border-radius: 60px;
     
}

.main-title4 {
    color: #f84600;
    width: 1200px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    }

.purpose-content {
    display: flex;   
    justify-content: space-between;
    padding: 15px;
    margin: 60px auto 60px;
    height: 300px;
    border: 2px solid #8b76ff;
    border-radius: 10px;
    
}
.img_style2 {
    height: auto;
    filter: blur(10px);
}
.img_style2:hover {
    filter: blur();
}



.section {
    position: relative; // устанавливаем родителя
    overflow: hidden;
    width: 100%; // ширина секции
    height: 100vh; // высота секции на высоту окна
    display: flex; // это flex-контейнер
    justify-content: center; // горизонтальное выравнивание
    align-items: center; // вертикальное выравнивание
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // растянуть на всю ширину секции
    height: 100%; // растянуть на всю высоту секции
    background-image: url('./img/
    background-size: cover; // масштабируется без потери пропорций
    filter: blur(10px); // размытие фона
    transition: 2s; // плавный переход от размытия до получения фокуса
}

.airline {
    width: 250px; // ширина картинки
    height: auto; // высота картинки подстроится автоматически
    position: relative; // для корректной работы z-index
    z-index: 1; // слой с картинкой выше слоя с фоном
    transition: 2s; // плавный переход эффекта размытия
}

.airline:hover {
    filter: blur(10px); // радиус размытия
    transform: scale(1.2); // масштабирование
    opacity: 0.5; // полупрозрачность
    cursor: pointer;
}

.airline:hover~.bg {
    filter: blur(0); // вернет фону резкость
    transform: scale(1.5); // трансформирует фон в сторону увеличения
}



/*
.form-sign-in {
    display: flex;
    gap: 10px;
}
.form-sign-in > .filter-sign-in {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 14px;
    background-color: #fff;
}


.on_style {
    display: flex;
    max-width: 1200px;
    height: 1832px;
    margin: 20px auto 40px;  
    position: absolute;
    overflow: hidden;
}

 
.phone-child {
    position: relative;
    top: 330px;
    left: 330px;
    border-radius: 50px 50px 50px;
    background: radial-gradient(30% 50% at 100% 30%, rgb(0, 255, 136), rgba(0, 1, 1, 0));
    width: 659px;
    height: 659px;
    transform:  rotate(6deg);
    transform-origin: 0;
}
.phone-item {
    position: relative;
    top: -250px;
    left: 850px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(0, 255, 234), rgba(255, 0, 81, 0));
    width: 660px;
    height: 660px;
    transform:  rotate(4deg);
    transform-origin: 0 0;
}

.main-title {
    position: relative;
    top: 60px;
    left: 80px;
    border-radius: 240px 240px 240px 240px;
    background: radial-gradient( 50% 50% at 50% 50%, #00ff08b8, #4d914d82);
    width: 600px;
    height: 236px;
}

.phone-inner {
    position: absolute;
    top: 56.09px;
    left: 1106.17px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(110, 20, 246), rgba(255, 82, 109, 0));
    width: 659px;
    height: 659px;
    transform:  rotate(3.96deg);
    transform-origin: 0 0;
} 

.on_style {
    position: relative;
    bottom: 0px;
    left: 340px;
    width: auto;
    height: 513px;
    object-fit: cover;
    transform:  rotate(3deg);
}


/*
.user-avatar {
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
}
*/
/*

.hero-content {
    width: 30%;
}

.main-title {
    margin-bottom: 30px;
}


.form {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.form > .filter {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 14px;
    background-color: #fff;
}
.form .filter-btn {
    padding: 8px 35px;
    background-color: #fff;
    color: #8080ff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form .filter-btn:hover {
    box-shadow: 0 2px 8px #88f8;
}
.form .filter-btn.active {
    background-color: #8080ff;
    color: #fff;
}


.form > .search {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.form .label {
    display: none;
}
.form .input {
    width: 0;
    padding: 15px 0;
    font-size: 20px;
    flex-grow: 1;
    border: none;
}
::placeholder {
    color: red;
    font-size: 15px;
    font-style: italic;
}

.form .search-btn {
    display: inline-block;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #ff9376;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #ff9376;
    box-shadow: 0 4px 8px rgba(255, 147, 118, 0.27);
}




.neighborhood {
    width: 60%;
    float: left;
    margin-right: 30px;
}

.recommended {
    width: calc(40% - 30px);
    float: right;
}
 
.section-title {
    width: 100%;
    margin-bottom: 20px;
}
.section-title > .title {
}
.section-title > .description {
}

.neighborhood-listing {
    width: 100%;
}
.neighborhood-listing > .listing-item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    float: left;
    background-color: pink;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.neighborhood-listing > .listing-item.last-item {
    margin-right: 0;
    margin-bottom: 20px;
}
.neighborhood-listing .item-image {
    width: 100%;
    height: 220px;
    object-position: center;
    object-fit: cover;
}
.neighborhood-listing .last-item > .item-image {
    height: 170px;
}
.neighborhood-listing .item-size {
    background-color: #889ef9;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    border-radius: 0 0 0 20px;
}
.neighborhood-listing .item-details {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}
.neighborhood-listing .location> .fa{
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    line-height: 18px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: orangered;
    color: #fff;
    border-radius: 10px;
    border: 2px solid rosybrown;
    box-shadow: 4px 5px 10px #f15b2de2
}

.btn:hover {
    background-color: #fff;
    color: orangered;
}


.recommended-listing {
    width: 100%;
}
.recommended-listing > .listing-item {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    
}


.recommended-listing > .listing-item:last-child {
    margin-bottom: 0;

}
.recommended-listing .item-image {
    width: 25%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.recommended-listing .item-details {
    display: flex;
     flex-direction: column;
     gap: 5px;
     width: calc(75% - 40px);
}
.recommended-listing .item-price {
    font-size: 20px;
    font-weight: bold;
}
.recommended-listing .location-street {
    font-size: 18px;
}
.recommended-listing .location-city {
    font-size: 16px;
}
.recommended-listing .item-features {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 15px;
    font-size: 14px;
}


.recommended-listing .feature > .fa {
    margin-right: 5px;
}
.recommended-listing .bookmark {
    width: 20px;
    height: 30px;
    position: absolute;
    top: -3px;
    right: 30px;
    font-size: 30px;
    color: #889ef9;
    cursor: pointer;
}

.recommended-listing .bookmark > .fa-bookmark,
.recommended-listing .bookmark:hover > .fa-bookmark-o,
.recommended-listing .bookmark.active > .fa-bookmark-o,
.recommended-listing .bookmark.active:hover > .fa-bookmark {
    display: none;
}
.recommended-listing .bookmark:hover > .fa-bookmark,
.recommended-listing .bookmark.active > .fa-bookmark,
.recommended-listing .bookmark.active:hover > .fa-bookmark-o {
    display: block;
}


/*
.recommended-listing > .feature:last-child {
    float: left;
    margin-right: 15px;
}  

font-family: 'font-awesome';
src: url('../fonts/fontawesome-webfont.eot')
*/