 html {
    background-color: #d3fdff95;
 }
 
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    
    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px; 
    width:1050px;
    margin-top: 50px;
    margin-left: 350px;
    background-color: #ffffff;
    
}


.main-header {
    display: inline-block;
    width: 1000px;
    margin-top: 25px;
    margin-left: calc(50% - 500px);
    background-color: #ffffff;
}

/* logo */
.logo {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    float: left;
}

.main-header-right-side {
    float: right;
}

.main-menu {
    float: left;
    margin-top: 9px;
    margin-right: 30px;
}

.menu-link {
    color: #333;
    font-size: 20px;
    line-height: 20px;
    margin-right: 30px;
    text-decoration: none;
}

a.menu-link:last-child {
    margin-right: 0;
}

.menu-link:hover {
    color: #ff003c;
    padding-bottom: 3px;
    border-bottom: 3px solid #ff003c;
}

/* user_photo */
.user-photo {
    width: 40px;
    height: 40px;
    background-color: #ff003c;
    float: right;
    border-radius: 50px;
    cursor: pointer;
}

main {
    display: inline-block;
    width: 1000px;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
    background-color: rgb(255, 255, 255);
}

.hero {
    width: 100%;
    min-height: 280px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #36f;
    background-image: url(../img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}
    .hero-content {
        width: 30%;
    }

    .main-title {
        margin-bottom: 30px;
    }


.neighborhood {
    width: 65%;
    float: left;
    padding: 0;
    margin-right: 0px;
    /* background-color: rgb(227, 227, 249);*/
    border-radius: 25px;
}

.neighborhood-title {
    font-family:'Courier New', Courier, monospace
    
}

.neighborhood-content {
    width: 100%;
    min-height: 280px;
    padding: 0;
    margin-bottom: 0px;
    display: flex;    
}

.neighborhood-container {
width: 200px;
height: 200px;
overflow: hidden;
position: relative; 
margin-right: 20px;
margin-top: 20px;
     
}

.neighborhood-container-last {
width: 200px;
height: 150px;
overflow: hidden;
position: relative; 
margin-right: 20px;
margin-top: 20px;
     
}
.house-image1 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.neighborhood-info1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(134, 213, 250, 0.7); /* Полупрозрачный фон */
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #FFFFFF;
    font-size: 12px;
    
}

.neighborhood-info1-adress {
    position: absolute;
    bottom: 10px;
    left: 19px;
    background-color: rgba(255, 255, 255, 0.75); /* Полупрозрачный фон */
    width: 80%;
    height: 40px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 10px;
}
.neighborhood-info1-adress p1 {
    font-size: 12px;
    color: #0600a7;
    margin-left: 10px;
    margin-right: 15px;
    
  }

  .neighborhood-info1-adress p2 {
      font-size: 15px;
      margin-left: 10px;
      font-weight: 600;
    }
    
    .button-see-all {
        background-color: #FF9376;
        color: white;
        padding: 1em 1.5em;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 45%;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0 4px 8px rgba(150, 4, 4, 0.5);

    }
    
    .recommended {
        width: calc(35% - 15px);
        float: right;
        padding: 0px;
        background-color: none;
        min-height: 280px;
    }
    
    .recommended-title {
        font-family:'Courier New', Courier, monospace
    }
    
    .recommended-content {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    border-radius: 10px;
    
        
}

#container1,
#container2 {
         
}


.house-image2 {
    max-width: 100px;
    max-height: 100px;
    border-radius: 15px;
    margin-right: 10px;
    object-fit:cover;
    
}

p3 {
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}

p4 {
    font-weight: bold;
    font-size: 15px;
    margin-right: 100px;
}

p6 {
font-weight: bold;
font-size: 14px;
}

p7 {
    font-weight: bold;
    font-size: 14px;
    }

p8 {
font-weight: bold;
font-size: 14px;
}


/*

.recommended-content p1, p2, p3 {
    margin-bottom: 10px;
}

.recommended-table {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    
}
.recommended-table td {
    padding: 5px; 
    border: 1px solid #ddd; 
    margin: 0px;
  } 
  


.recommended-content p {
    margin: 1px; 
  }

 
.house-image3 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    
}

a:first-child {
    text-transform: uppercase;   
}

a:nth-child(2n) {
    background-color: aqua;   
}


a:nth-last-child(2)  {
    background-color: violet;
}
*/